<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bella and Montys Animal Shelter</title>
</head>
<body>
  <header>
    <h1>Bella and Montys Animal Shelter</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/adopt">Adoptable animals</a></li>
      <li><a href="/adopt/search">Search for animal</a></li>
      <li><a href="/incare">Animals in care</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
