<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bella and Montys Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body vlink="white">
  <div class="header">
    <header>
      <img src="/images/coollogo_com-116582333.png" alt="logo" />
    </header>
  </div>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/all_animals">ALL ANIMALS</a></li>
      <li><a href="/all_owners">ALL OWNERS</a></li>
      <li><a href="/adopt/search">SEARCH</a></li>
      <li><a href="/adopt">ADOPTION</a></li>
      <li><a href="/assign">ASSIGN ANIMAL TO OWNER</a></li>
      <li><a href="/incare">CARE CENTER</a></li>
    </ul>
  </nav>
  <link rel="stylesheet" href="/css/master.css">
  <%= yield %>
  <!-- <footer class="footer">
    <p>© BMShelter | Contact us: <a href="bmshelter@happymail.com">
      bmshelter@happymail.com</a>.</p>
  </footer> -->
</body>
</html>
