<form class="" action="index.html" method="post">

  <label for="first_name">Animal name:</label>
  <input type="text" name="name" id="name" value="<%= @animals.name %>" />

  <label for="last_name">Adoption Status:</label>
  <input type="text" name="adoption_status" id="adoption_status" value ="<%= @animals.adopt_status %>"/>

</form>
